@model IEnumerable<SpaProjectFinalProject.Models.Person>

@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*@using (Html.BeginForm())
{
    <p>
          <img src="~/images~/images/download__1_-removebg-preview.png" height="20px" width="20px">
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}*@
<table class="table">
    <thead>
        <tr>
            <th>
                  @Html.ActionLink("Name", "Index" ,new {sortOrder =  ViewBag.NameSort})
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HaveAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th>
                @Html.ActionLink("Address", "Index" ,new {sortOrder =  ViewBag.AddressSort})
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HaveAnimal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PersonId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PersonId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Person" asp-action="Index" asp-route-pg="@pge"> @pge</a>
                </li>
            }

            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Person" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Person" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Before</a>
                </li>
            }
        </ul>
    }
</div>
